.messages{
  width: 100%;
  text-align: center;
  padding: 0rem 2rem;
  margin-bottom: 2rem;
  color: var(--on-primary)
}

.containerMessages{
  min-height: 400px;
  max-height: 500px;
  width:100%;
  max-width: 400px;
  margin: auto;
  border-radius: 20px;
  padding: 1rem;
  overflow-y: scroll;
  border: solid white 1rem;
  background: white;
  box-shadow: 3px 3px 8px rgb(205, 205, 205);

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.containerMessages::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.containerMessages li{
  text-align: left;
  font-style: none;
  background-color: rgb(45, 45, 197);
  color: white;
  padding: 0.6rem;
  border-radius: 15px 15px 15px 0px;
  width: 80%;
  margin-bottom: 1.3rem;
}

.containerMessages li p{
  font-size: 0.9rem;
  margin-bottom: 0;
}

.containerMessages li .date{
  font-size: 0.5rem;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.648)
}


.messageInput {
  padding: 2rem 0rem;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.messageInput input { 
  display: inline-block;
  font-size: 1rem;
  padding: 0.7rem;
  color:rgb(109, 109, 109);
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  background-color: white;
  box-shadow: 3px 3px 8px rgb(205, 205, 205);
}

.icon{ 
  display: inline-block;
  width: 20%;
  background: rgb(0, 19, 195);
  color: white;
  height: 40px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: bolder;
  box-shadow: 3px 3px 8px rgb(205, 205, 205);
}

.icon:hover{
  background: rgb(50, 70, 255);
}

.icon:active{
  background: rgb(108, 122, 250);
  box-shadow: inset -2px -2px 4px  rgba(55, 55, 55, 0.402);
}

