
/* ///////////////////////
HERO SECTION
//////////////////// */

.main {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  background-color: white;
  background-image: var(--background-image);
  background-size: cover;
  padding: 2rem;
}

/* Aggiungi uno pseudo-elemento ::before */
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7));
  z-index: -1;
}


.coverCard{
  display: flex;
  align-items: center;
  background: var(--terciary);
  width: 100%;
  max-width: 1000px;
  border: solid 1rem;
  border-color: white;
}

.logo{
  display: inline-block;
  margin-right: 7px;
}

.coverInfo {
  padding: 2rem 1rem;
  margin: 1rem;
  border: solid 0.5rem;
  border-color: rgba(255, 255, 255, 0.531);

  color: var(--on-primary);
  text-align: center;
  width: 35%;
}

.coverInfoDetails{
  margin-bottom: 2rem;
}

.coverImage{
  display: flex;
  align-items: self-end;
  padding: 2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.255);
  background-image: url(/img/ramona-stefano-col.jpg);
  background-position: center;
  background-size: cover;
  width: 65%;
  min-height:70vh;
}


 /*//////////  mobile ////////////*/

@media only screen and (max-width: 700px) {
  .coverCard{
    display: block;
    border: solid 0.6rem white;
    
  }
  .coverInfo {
    width: 90%;
    margin: 1rem auto;
    padding:1rem 0.6rem;
    border: solid 0.3rem rgba(255, 255, 255, 0.686);
  }
  
  .coverImage{
    width: 100%;
    min-height:38vh;
    padding: 0.3rem 1rem ;
  }

  .coverImage p{
    display: none;
  }

}