

/* //////////////// 
where  
/////////////////////*/

.whereSection{
  background-color: var(--white);
  color: var(--on-primary);
  text-align: center;
  padding: 2rem 2rem;
}

.cardWrapper{
  border: solid 1rem;
  border-color: var(--secondary);
  width: 90%;
  margin: auto;
}

.infoCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--on-primary);

  text-align: left;
  padding-left: 2rem;

  padding: 2rem;
}

.info{
  width: 45%;
}

/* //images */
.locationImg{
  min-height: 250px;
  height: 100%;
  background-image: url("/img/ric-loc.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  width: 45%;
}

.headerImg{
  display: none;
  height: 100px;
  background-image: url("/img/ric-loc.png");
  background-size: cover;
  background-position: center;
  /* border-radius: 8px; */
  width: 50%;
}

/* //////// mobile ///////// */
@media only screen and (max-width: 750px) {

  .headerImg{
    display: inline-block;
    height: 100px;
    background-image: url("/img/ric-loc.png");
    background-size: cover;
    background-position: center;
    /* border-radius: 8px; */
    width: 50%;
  }

  .locationImg{ display: none; }

  .info{ width: 100%; }
}