

/* //////////////// 
where  
/////////////////////*/

.whereSection{
  background-color: var(--white);
  color: var(--on-primary);
  text-align: center;
  padding: 4rem 2rem;
  margin: auto;
}

.cardWrapper{
  border: solid 3rem;
  border-color: var(--secondary);
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

.infoCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--on-primary);

  text-align: left;
  padding-left: 2rem;

  padding: 2rem;
}

.info{
  width: 45%;
}

/* //images */
.locationImgChiesa{
  min-height: 250px;
  height: 100%;
  background-image: url("/img/chiesa-loc.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  width: 45%;
}

.locationImgRic{
  min-height: 250px;
  height: 100%;
  background-image: url("/img/ric-loc.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  width: 45%;
}

.headerImgRic{
  display: none;
}

.headerImgChiesa{
  display: none;
}

/* //////// mobile ///////// */
@media only screen and (max-width: 750px) {

  .headerImgRic{
    display: inline-block;
    height: 160px;
    background-image: url("/img/ric-loc.png");
    background-position: center;
    background-size: cover;
    /* border-radius: 8px; */
    width: 50%;
  }

  .headerImgChiesa{
    display: inline-block;
    height: 160px;
    background-image: url("/img/chiesa-loc.png");
    background-size: cover;
    background-position: center;
    /* border-radius: 8px; */
    width: 50%;
  }

  .locationImgRic{ display: none; }
  .locationImgChiesa{ display: none; }

  .info{ width: 100%; }


  .cardWrapper{
    border: solid 1.5rem;
    border-color: var(--secondary);
  }
}