@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary:  rgba(245, 238, 185, 0.664);
  --secondary:  #d5f3dd;
  --terciary:  hwb(203 82% 4%);
  --quart:  #d0527c;
  --black: black;
  --white: white;

  --on-primary: rgb(88, 70, 60);  
  --on-quart: rgb(255, 255, 255);  

  --max-width: 1100px;
  --border-radius: 12px;
  --font: 'Poppins', sans-serif;
  --font-title: 'Italiana', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--on-primary));
  background-color: var(--white);
}

a {
  font-family: 'Poppins', sans-serif;
  color: inherit;
  font-weight: bolder;
  /* text-decoration: none; */

}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

h1,h2{
  font-family: 'Italiana', serif;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

h3,h4,h5{
  font-family: 'Italiana', serif;
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (max-width: 650px) {
  h1,h2{
    letter-spacing: 1px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

}

/* //////////// personalization /////////// */

.button{
  display: inline-block;
  padding:0.5rem;
  width: 100%;
  border: solid 0.2rem;
  border-color: var(--on-primary);
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--on-primary);
  cursor: pointer;
  text-decoration: none;
}


.button:hover{
  /* text-decoration: underline; */
  background-color: rgba(62, 62, 62, 0.089);
}

.button:active{
  background-color: rgba(62, 62, 62, 0.3);
}


.button-white{
  display: inline-block;
  padding:0.5rem;
  width: 100%;
  border: solid 0.2rem;
  border-color: var(--white);
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

.button-white:hover{
  background-color: rgba(255, 255, 255, 0.14);
}


.button-white:active{
  background-color: rgba(255, 255, 255, 0.3);
}


.divider{
  border-top: solid 1px;
  border-color: var(--on-primary);
  width: 20%;
  max-width: 100px;
  margin: auto;
  display: inline-block;
  margin-bottom: 2rem;
}

.divider-white{
  border-top: solid 1px;
  border-color: var(--white);
  width: 20%;
  max-width: 100px;
  margin: auto;
  display: inline-block;
  margin-bottom: 2rem;
}

.logo{
  display: inline-block;
  margin: 0rem 1rem;
  margin-bottom: 1.3rem;
}