
/* ///////////////////////
HERO SECTION
//////////////////// */

.main {
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  background-color: white;
  background: url(/img/flower-bg.jpg);
  background-position:center;
  background-size: cover;
  padding: 2rem;

}

.coverCard{
  display: flex;
  align-items: center;
  background: var(--primary);
  width: 100%;
  max-width: 1000px;
  border: solid 1rem;
  border-color: white;

}


.coverInfo {
  padding: 2rem 1rem;
  margin: 1rem;
  border: solid 0.5rem;
  border-color: rgba(255, 255, 255, 0.531);

  color: var(--on-primary);
  text-align: center;
  width: 30%;
}

.coverInfoDetails{
  margin-bottom: 2rem;
}

.coverImage{
  display: flex;
  align-items: self-end;
  padding: 2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.255);
  background-image: url(/img/ramona-stefano-col.jpg);
  background-position: center;
  background-size: cover;
  width: 70%;
  min-height:70vh;
}


 /*//////////  mobile ////////////*/

@media only screen and (max-width: 700px) {
  .coverCard{
    display: block;
    border: solid 0.6rem white;
    
  }
  .coverInfo {
    width: 90%;
    margin: 1rem auto;
    padding:1rem 0.6rem;
    border: solid 0.3rem rgba(255, 255, 255, 0.686);
  }
  
  .coverImage{
    width: 100%;
    min-height:38vh;
    padding: 0.3rem 1rem ;
  }

  .coverImage p{
    display: none;
  }

}


/* ///////////////////////
WHEN SECTION
//////////////////// */


.when{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: var(--primary);
  color: var(--on-primary);
  text-align: center;
  padding: 4rem 2rem;
  border: solid 2rem white;
}

.date{
  margin: auto;
  padding: 3rem;
  border: solid 0.8rem;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.357);
}

.date > * {
  font-size: 3.5rem;
}

.aforismo{
  display: flex;
  align-items: center;
  position: relative;
  top:-1.8rem;
  height:3rem;
  width: auto;
  max-width: 70%;
  background: white;
  margin: auto;
  border-radius: 10px;
  padding: 0.5rem;
}

.aforismo p{
  line-height:0.9rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0;
}

/* //////// mobile ///////// */
@media only screen and (max-width: 650px) {
  .date{
    padding: 3rem 1rem;
  }
  .date > * {
    font-size: 2.7rem;
  }
}

