/* Contact.module.css */
/* Stili per il div */

.contact{
  background-color: var(--quart);
  color: var(--white);
  font-family: 'Poppins';
}
.wrapper {
  padding: 6rem 2rem;
  text-align: center;
}

.formContainer{
  max-width: 450px;
  width: 100%;
  margin: auto;
  text-align: left;
  padding: 2rem;
  border: solid white 0.7rem;
}

.advise{
  font-size: 1rem;
  text-align: center;
}

.formContainer p{
  font-size: 0.7rem;
  line-height: 1rem;
}

.formButton{
  margin-top: 2rem;
}

/* Stili per input[type=text] e select */
.inputField {
  font-family: 'Poppins';
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: var(--on-primary)
}

.inputSubmit:hover {
  background-color: #45a049;
}


.mail {
  display: block;
  max-width: 450px;
  width: 100%;
  margin: 2rem auto;
}

.mail p{
  font-size: 0.8rem;
}

.badgeOk{
  padding: 1rem;
  background-color: rgb(192, 249, 163);
  border-radius: 30px;
  max-width: 400px;
  width: auto;
  margin: auto;
}

.badgeOk p{
  margin-bottom: 0rem;
  color: rgb(46, 40, 32);
  font-weight: 300;
  font-size: 0.9rem;
}

.badgeKo{
  padding: 1rem;
  background-color: rgb(250, 235, 235);
  border: solid 0.2rem red;
  border-radius: 30px;
  max-width: 400px;
  width: auto;
  margin: auto;
}

.badgeKo p{
  margin-bottom: 0rem;
  color: rgb(226, 0, 102);
  font-weight: 300;
  font-size: 0.9rem;
}


