.gift{
  padding: 4rem 1rem;
  width: 100%;
  color: var(--on-primary)
}

.wrapper{
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.contentContainer{
  padding: 2rem 2rem;
  text-align: center;
  width: 50%;
}

.contentContainer p{
  font-size: 0.9rem;
}

.imageContainer{
  background-image: url(/img/moon.jpg);
  background-position: center;
  background-size: cover;
  height:400px;
  width: 50%;
  border-radius: 300px;
  margin: 2rem;

}

.copyButtonContainer{
  margin: 0;
}

.iban{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  margin-bottom: 2rem;
}
.iban p{
  margin: 0;
  margin-right: 2rem;
}

.copyIconOk{
  font-family: 'Poppins';
  padding: 0.35rem;
  background-color: rgb(205, 241, 205);
  border-radius: 10px;
  font-weight: 400;
  color: var(--on-primary);
}


/* //////// mobile ///////// */
@media only screen and (max-width: 750px) {
  .wrapper{
    display: block;
  }

  .contentContainer{
    padding: 2rem 0rem;
    text-align: center;
    width: 100%;
  }
  

  .imageMobile{
    /* display: inline-block; */
    background-image: url(/img/moon.jpg);
    background-position: center;
    background-size: cover;
    height:150px;
    width: 100%;
    border-radius: 300px;
    margin: 2rem auto;

  }

  .imageContainer{
    display: none;
  }

}

