/* Stili per l'elemento con l'immagine di sfondo */
.thanks {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
  background-image: url("/img/flower-bg.jpg");
  background-size: cover;
  width: 100%;

  color: var(--on-primary)
}

/* Aggiungi uno pseudo-elemento ::before */
.thanks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); /* Gradiente bianco con opacità */
  z-index: -1; /* Porta l'immagine di sfondo al di sotto del contenuto */
}
.wrapper{
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

.greetingsContainer{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}

.containerMessages{
  padding: 1rem;
}

.firmaContainer{
  padding: 8.5rem 2rem;
}

.firma h2{
  font-size: 6rem;
  line-height: 5rem;
}

.subtitle{
  padding: 0rem;
  margin: 0rem;
}

.subtitle h3{
  font-size: 1.2rem;
}

/* //////// mobile ///////// */
@media only screen and (max-width: 850px) {
  
  .firmaContainer{
    padding: 1rem 2rem;
  }

  .firma h2{
    font-size: 5rem;
    line-height: 4rem;
  }

  .greetingsContainer{
    display: block
  }

  .containerMessages{
    padding: 1rem 0rem;
  }
}